<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

<!-- Data Source Configuration -->
<bean id="hkcp" class="com.zaxxer.hikari.HikariDataSource">
<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"/>
<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe"/>
<property name="username" value="system"/>
<property name="password" value="sai123"/>
</bean>
<!-- local session factory configuration -->
<bean id="sesfact"
    class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
    <property name="dataSource" ref="hkcp" />
    <property name="annotatedClasses">
    <list>
    <value>com.nt.entity.Employee</value>
    </list>
    </property>
    
    
    <property name="hibernateProperties">
    <props>
    <prop key="dialect">org.hibernate.dialect.Oracle10gDialect</prop>
    <prop key="hbm2ddl.auto">update</prop>
    <prop key="format_sql">true</prop>
    <prop key="show_sql">true</prop>
    </props>
    </property>
</bean>
<!-- hibernate template Class -->
<bean id="ht" class="org.springframework.orm.hibernate5.HibernateTemplate"> 
<property name="sessionFactory" ref="sesfact"></property>
</bean>

<bean id="hbtxmgmr" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
<property name="sessionFactory" ref="sesfact"></property>
</bean> 

<context:component-scan base-package="com.nt"/>
<tx:annotation-driven transaction-manager="hbtxmgmr"/>



</beans>